<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component
      class="eu.balticlsc.model.CAL.design.Activator"
      id="eu.balticlsc.model.CAL.design"
      name="CAL"
    >
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="eu.balticlsc.model.CAL.design.JavaAction"
           id="eu.balticlsc.model.CAL.design.javaAction">
     </javaActions>
  </extension>
</plugin>
