# latexmk build artifacts
*.acn
*.acr
*.alg
*.app
*.arc
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.lof
*.log
*.lol
*.lot
*.out
*.slg
*.slo
*.sls
*.synctex.gz
*.toc
*.xdv
*.xml

# Ignore also the built PDF. It should not be committed, since it is built in CI
/*.pdf
